* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(124.53deg, #FC3F5F 0%, #7D61FF 100.32%);
    padding: 95px;
}

.container {
    background: linear-gradient(180deg, rgba(43, 34, 21, 0.8) -1.22%, #22282E 101.33%);
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    max-width: 1410px;
    width: 100%;
    margin-inline: auto;
}

/* nav block start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

input {
    display: none;
}

.header__logo, .header__download { 
    min-width: 180px;
}

.header__download {
    text-align: right;
}

.header__nav ul {
    padding-left: 0px;
    display: flex;
    gap: 64px;
}

.header__nav li {
    list-style: none;
}

.header__nav a {
    list-style: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #A0A3A7;
    text-decoration: none;
}

.header__nav a:hover {
    text-decoration: underline;
}

.header__btn {
    background: linear-gradient(93.22deg, #E1E1E1 8.37%, #FFFFFF 99.95%);
    box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08), inset 1px 1px 1px rgba(135, 135, 135, 0.32);
    border-radius: 999px;
    display: inline-block;
    padding: 16px 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #24282E;
    transition: .2s all ease-in-out;
}

.header__btn:hover {
    background: linear-gradient(93.22deg, #cdcccc 8.37%, #e7e1e1 99.95%);
    box-shadow: 0px 4px 50px rgba(37, 37, 37, 0.08), inset 1px 1px 1px rgba(135, 135, 135, 0.32);
    color: #24282E;
}

/* nav block end */

/* main block */

.main {
    text-align: center;
    padding: 180px 20px 161px 20px;
}

.main__title {
    max-width: 600px;
    width: 100%;
    margin: 0px;
    margin-inline: auto;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    text-align: center;
    color: #F2F4F7; 
    margin-bottom: 32px;
    transition: .2s all ease-in-out;
}

.main__title:hover {
    color: #FC40F4;
}

.main__desc {
    max-width: 600px;
    width: 100%;
    margin: 0px;
    margin-inline: auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #F2F4F7;
    margin-bottom: 80px;
}
 
.main__btn {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FC40F4;
    border: 2px solid #FC40F4;
    border-radius: 999px;
    padding: 16px 32px;
    text-decoration: none;
    min-width: 240px;
    margin-bottom: 64px;
    transition: .2s all ease-in-out;
}

.main__btn:hover {
    transform: translateY(-10px);
}

.main__icon {
    display: flex;
    gap: 32px;
    padding: 16px;
    justify-content: center;
}

.header .material-icons {
    display: none;
    color: #FFFFFF;
    font-style: 32px;
}

input {
    display: none;
}

/* main block end */

/* Adaptation for desktop */
@media (min-width: 700px) {
    .header label {
        display:none;
    } 
}

/* Adaptation for tablet */

@media (max-width: 960px) {

    html {
        height: 100%;
    }

    .header__download {
        display: none;
    }

    body {
        padding: 40px;
    }

    .main__title {
        font-size: 42px;
        line-height: 49px;
    }

    .main__title, .main__desc {
        max-width: 500px;       
    }

    .main {
        padding: 100px 40px; 
    }
} 

/* Adaptation for cellphones */
@media (max-width: 700px) {

    html {
        height: 100%;
    }

    body {
        padding: 20px;
    }

    .main {
        padding: 60px 40px;
    }

    .main__desc {
        margin-bottom: 64px;
    }

    .header .material-icons {
        display: block;
        color: #FFFFFF;
        font-style: 32px;
     }

    .header__nav {
        text-align: center;
        padding-top: 100px;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 30px;
        width: 150px;
        height: 175px;
        border-radius: 32px 0 32px 0;
        background-color:  rgba(43, 34, 21, 1);
        transform: translateX(-200%);
        transition: .3s all ease-in-out;
    }

    .header__nav a {
        color: #ded7d7;
    }

    .header__nav ul {
        flex-direction: column;
        gap: 10px;
    }

    input:checked~.header__nav {
        transform: translateX(0);
     }

     .main__title {
        font-size: 24px;
        line-height: 36px;
     }

     .main__desc {
        font-size: 16px;
        line-height: 21px;
     }
     .main__btn {
        min-width: 100px;
     }
}

